@import url("reset.css");

/**********************************************
GLOBAL VARIABLES
**********************************************/


/**********************************************
HTML SELECTORS
**********************************************/

html {
    box-sizing: border-box;
}

  *, *:before, *:after {
    box-sizing: inherit;
}

footer{
  margin-top: 30px;
  text-align: center;
}

footer>p{
  display: flex;
  justify-content: center;
  align-items: center;
}

footer>p>a{
  padding-left: 10px;
}

footer>p>a:hover{
  transform: scale(1.1);
}

/**********************************************
ID SELECTORS 
**********************************************/


/**********************************************
CLASS SELECTORS
**********************************************/


/**********************************************
MEDIA 
**********************************************/

