@import url("reset.css");
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Permanent+Marker&display=swap');

/**********************************************
GLOBAL VARIABLES
**********************************************/


/**********************************************
HTML SELECTORS
**********************************************/

html {
    box-sizing: border-box;
    font-family: 'Indie Flower', cursive;
    color: #11324D;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body{
  background-color: #E7E0C9;
}

main{
  margin: auto;
  width: 70%;
}

h1{
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
  font-size: 40px;
  font-weight: bolder;
}

footer{
  position: fixed;
  left: 0;
  right: 0;
  bottom: 20px;
  width: 100%;
  text-align: center;
  font-size: 25px;
}

footer>p{
  display: flex;
  justify-content: center;
  align-items: center;
}

footer>p>a{
  padding-left: 10px;
}

footer>p>a:hover{
  transform: scale(1.1);
}

/**********************************************
ID SELECTORS 
**********************************************/

#players{
  margin: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: bold;
  align-items: center;
}

#players>p:nth-child(2){
  font-family: 'Permanent Marker', cursive;
  font-size: 60px;
  margin-left: 30px;
  margin-right: 30px;
  color: rgb(194, 34, 34);
  text-shadow: 3px 3px yellow, 5px 5px rgb(194, 34, 34);
}

#board{
  display: grid;
  margin: auto;
  width: 300px;
  grid-template: repeat(3, auto) / repeat(3, auto);
}

#board>button{
  font-size: 50px;
  border: 2px solid #E7E0C9;
  color: #11324D;
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  cursor: grab;
  font-family: 'Indie Flower', cursive;
  background-color: #6B7AA1;
  border-radius: 5px;
}

#board>button:nth-child(3){
  border-top-right-radius: 15px;
}

#board>button:first-child{
  border-top-left-radius: 15px;
}

#board>button:nth-child(7){
  border-bottom-left-radius: 15px;
}

#board>button:last-child{
  border-bottom-right-radius: 15px;
}

#buttons{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

#buttons>button{
  font-family: 'Indie Flower', cursive;
  font-weight: bold;
  color: #11324D;
  background-color: #C1CFC0;
  border: 2px solid #11324D;
  border-radius: 10px;
  height: 60px;
  width: 180px;
}

#buttons>button:hover{
  filter:sepia(70%);
}

#buttons>button:active{
  transform: scale(1.1);
}

#reset{  
  margin-right: 30px;
  font-size: 40px;
}

#change{  
  font-size: 25px;
}

/**********************************************
CLASS SELECTORS
**********************************************/


/**********************************************
MEDIA 
**********************************************/

