@import url("reset.css");

/**********************************************
GLOBAL VARIABLES
**********************************************/


/**********************************************
HTML SELECTORS
**********************************************/

html {
    box-sizing: border-box;
}

  *, *:before, *:after {
    box-sizing: inherit;
}

main{
  margin: auto;
  width: 70%;
}

h1{
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
}

footer{
  position: fixed;
  left: 0;
  right: 0;
  bottom: 20px;
  width: 100%;
  text-align: center;
}

footer>p{
  display: flex;
  justify-content: center;
  align-items: center;
}

footer>p>a{
  padding-left: 10px;
}

footer>p>a:hover{
  transform: scale(1.1);
}

/**********************************************
ID SELECTORS 
**********************************************/

#board{
  display: grid;
  margin: auto;
  width: 300px;
  grid-template: repeat(3, auto) / repeat(3, auto);
}

#board>button{
  font-size: 50px;
  border: 1px solid black;
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  cursor: grab;
}

/**********************************************
CLASS SELECTORS
**********************************************/


/**********************************************
MEDIA 
**********************************************/

